@media screen and (min-width: 768px) {
	.container{
		max-width : 766px;
		padding-left: 15px;
		padding-right: 15px;
		}
	.menu-toggle{
		display: none;
		}
	.header{
		}
	.header a {
		font-size       : 16px;
		text-decoration : none;
		vertical-align  : middle;
		}


	.header__nav {
		display : flex;
		align-items: center;
		}


	.header__logo {
		margin-right : 75px;
		color        : var(--color-navyblue);
		}


	.header__menu {
		display      : flex;
		gap          : 40px;
		}


	.header__link {
		color : var(--color-navyblue)
		}


	.header__menu a {
		font-weight : 500;
		}
	.flex-header{
		display: block;
		}

	.header__contacts {
		display: block;
		}
	.header__contacts a{
		font-size: 12px;
		line-height: calc(14 / 12);
		}
	.header__logo{
		margin-right: 120px;
		}
	.header__menu{
		margin-right: auto;
		}
	.header__logo{
		padding: 24px 0;
		}
	.header__nav{
		padding:0;
		}


	.header__contacts-link {
		font-weight : 400;
		color       : var(--color-stale);
		}


	.header__menu-item {
		position   : relative;
		transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}


	.header__menu-item:focus,
	.header__menu-item:hover,
	.header__menu-item:active {
		color : var(--color-cta-ocean);
		}
	.current-page {
		color : var(--color-cta-ocean);
		}
	.current-page::before {
		position         : absolute;
		bottom           : -25px;
		content          : "";
		width            : 100%;
		height           : 4px;
		background-color : var(--color-cta-ocean);
		border-radius    : 2px;
		}
	.hero__h1 {
		margin-bottom : 36px;
		}
	.team__cards{
		gap: 64px 24px;
		}
	.customers__cards{
		gap: 72px 24px;
		}
	.footer .container{
		display: flex;
		flex-wrap: wrap;
		}
	.social__icons{
		gap: 16px;
		}
	.footer__logo{
		text-align: left;
		max-width : 264px;
		margin-left : 108px;
		margin-right: 16px;
		}
	.footer__social{
		text-align: left;
		margin: 0;
		}
	.footer__subscribe-form input {
		width: 264px;
		margin: 0 24px 0 0;
		}
	.footer__subscribe{
		text-align: left;
		margin-left: 108px;
		}
	.footer__subscribe-form {
		display: flex;
		}
	.portfolio__content{
		padding-top: 64px;
		}
	.portfolio__nav{
		margin-bottom: 64px;
		flex-wrap: nowrap;
		}

	.portfolio__grid-sub {
		max-width: 356px;
		}

	.portfolio-link-img {
		max-width: 356px;
		}
	.portfolio__grid {
		gap             : 72px 24px;
		}
	}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.feature__blocks {
		display : flex;
		flex-wrap: wrap;
		margin-left: -24px;
		margin-top: -72px;
		}
	.feature__block{
		flex-basis: calc(100% / 2 - 24px);
		margin-left: 24px;
		margin-top: 72px;
		}
	.portfolio__grid-sub{
		min-height: 177px;
		}
	.portfolio__grid{
		justify-content: start;
		}
	}